<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title%}{% endblock title%}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% endblock %}

        {% block stylesheets%}{% endblock stylesheets%}

        {{ inject_theme_styles() }}
        <!--[if lte IE 7]>
            {{ inject_legacy_support_styles() }}
            {{ inject_legacy_support_script() }}
        <![endif]-->
    </head>
    <body>
        {% block body%}{% endblock body%}

        {% block javascript%}{% endblock javascript%}

        {{ inject_controller_script() }}
    </body>
</html>